<a href="https://colab.research.google.com/github/hikyle02/PolytechTest/blob/master/numpy_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

# ndarray basic
a = np.array([1, 2, 3])   # Create a rank 1 array
print(type(a))            # Prints "<class 'numpy.ndarray'>"
print(a.shape)            # Prints "(3,)" dimension
print(a[0], a[1], a[2])   # Prints "1 2 3"
a[0] = 5                  # Change an element of the array
print(a)                  # Prints "[5, 2, 3]"

b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
print(b.shape)                     # Prints "(2, 3)" dimension of array
print(b[0, 0], b[0, 1], b[1, 0])   # Prints "1 2 4"

<class 'numpy.ndarray'>
(3,)
1 2 3
[5 2 3]
(2, 3)
1 2 4

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# ndarray 설정

a = np.zeros((2,2))   # Create an array(2 by 2) of all zeros
print(a)              # Prints "[[ 0.  0.]
                      #          [ 0.  0.]]"

b = np.ones((1,2))    # Create an array of all ones
print(b)              # Prints "[[ 1.  1.]]"

c = np.full((2,2), 7)  # Create a constant array(2 by 2) and input 7 into all array
print(c)               # Prints "[[ 7.  7.]
                       #          [ 7.  7.]]"

d = np.eye(2)         # Create a 2x2 identity matrix
print(d)              # Prints "[[ 1.  0.]
                      #          [ 0.  1.]]"

e = np.random.random((2,2))  # Create an array filled with random values
print(e)                     # Might print "[[ 0.91940167  0.08143941]
                             #               [ 0.68744134  0.87236687]]"

f = np.empty((3,3)) # will show garbage data in memory
print(f)

[[0. 0.]
 [0. 0.]]
[[1. 1.]]
[[7 7]
 [7 7]]
[[1. 0.]
 [0. 1.]]
[[0.68842543 0.44127579]
 [0.24207435 0.0527941 ]]
[[1.69194006e-316 1.77863633e-322 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000 9.96451285e-047]
 [1.77296590e+160 7.12059750e-091 2.10580693e-076]]

In [ ]:
# indexing

a = np.array([[1,2], [3, 4], [5, 6]])   # 3 by 2

# An example of integer array indexing.
# The returned array will have shape (3,) and
print(a[[0, 1, 2], [0, 1, 0]])  # Prints "[1 4 5]"

# The above example of integer array indexing is equivalent to this:
print(np.array([a[0, 0], a[1, 1], a[2, 0]]))  # Prints "[1 4 5]" 

# When using integer array indexing, you can reuse the same
# element from the source array:
print(a[[0, 0], [1, 1]])  # Prints "[2 2]"

# Equivalent to the previous integer array indexing example
print(np.array([a[0, 1], a[0, 1]]))  # Prints "[2 2]"

[1 4 5]
[1 4 5]
[2 2]
[2 2]

In [5]:
# Broadcasting

import numpy as np

# We will add the vector v to each row of the matrix x,
# storing the result in the matrix y
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = x + v  # Add v to each row of x using broadcasting
print(y)  # Prints "[[ 2  2  4]
          #          [ 5  5  7]
          #          [ 8  8 10]
          #          [11 11 13]]"

[[ 2  2  4]
 [ 5  5  7]
 [ 8  8 10]
 [11 11 13]]

In [8]:
# Math
mat1 = np.ones((3,3))  # input 1 in all cell of array 3by3
print(mat1)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [9]:
cnt = 1
mat2 = np.zeros((3,3))
for i in range(3):
  for j in range(3):
    mat2[i,j] = mat1[i,j]*cnt
    cnt = cnt + 1
print(mat2)

[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

In [10]:
mat3 = (mat1 + mat2) * mat2 - mat1/mat2
print(mat3)

mat3_1 = np.subtract( np.multiply( np.add(mat1, mat2), mat2), np.divide(mat1,mat2) )
print(mat3_1)

[[ 1.          5.5        11.66666667]
 [19.75       29.8        41.83333333]
 [55.85714286 71.875      89.88888889]]
[[ 1.          5.5        11.66666667]
 [19.75       29.8        41.83333333]
 [55.85714286 71.875      89.88888889]]

In [13]:
mat4 = np.dot(mat2, mat3)
print(mat4)

[[ 208.07142857  280.725       365.        ]
 [ 437.89285714  602.25        795.16666667]
 [ 667.71428571  923.775      1225.33333333]]

In [12]:
mat5 = np.matmul(mat2, mat3)  # matrix multiply
print(mat5)

[[ 208.07142857  280.725       365.        ]
 [ 437.89285714  602.25        795.16666667]
 [ 667.71428571  923.775      1225.33333333]]

In [ ]:
vec = np.array([1,2,3])
print(vec)

[1 2 3]

In [ ]:
mat6 = np.dot(mat2, vec)
print(mat6)

[14. 32. 50.]

In [ ]:
mat7 = np.matmul(mat2, vec)
print(mat7)

[14. 32. 50.]